/* #region reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
}
/* #endregion reset */

/* #region color */
:root{
--bgheader: #add8e6;
--nav: #daa520;
--bgbanner: #00008b;
--banner: #ee82ee;
--bgsection1: #ffffff;
--bgsection2: #f6f6f6;
--bgsection3: #23272a;
--block1: #1e90ff;
--block2: #ffc0cb;
--block3: #228b22;
--block4: #f08080;
--block5: #20b2aa;
--footer: #7fffd4;
--bgfooterbtn:#ffb6c1;
--h3text: #748de1;
--licolor: white;
--registratibtn: #8ea1e1;
}
/* #endregion color */

/* #region utility */
body section{
    /* height: 100vh; */
    padding: 6rem 0;
}
.d-flex{
    display: flex;
}

.b-dash{
    border: 2px dashed black;
}

.pad{
    padding: 10px;
}

.al-it-center{
    align-items: center;
}
/* #endregion utility */

/* #region header style */
header{
    justify-content: center;
    /* background-color: var(--bgheader); */
    height: 80px;
    background-image: url(../img/jumbo.png);
    background-position: top;
}

nav{
    /* background-color: var(--nav); */
    justify-content: space-between;
    width: 75%;
    height:50%;
}
nav button:last-child{
    background-color: white;
    padding: 1rem 1.5rem;
    margin-left: 1rem;
    border-radius:50px;
    border:none;
}

.cont-link{
    justify-content: center;
    /* border-left: 2px dashed black;
    border-right: 2px dashed black; */
    height: 100%;
    padding: 0 160px;
}
a{
    padding:0 1.5rem;
    color: white;
    text-decoration: none;
}
/* #endregion header style */

/* #region sections */
/* #region banner */
.banner{
    /* background-color: var(--bgbanner); */
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    justify-content: center;
}
.ban{
    /* background-color: var(--banner); */
    color: white;
    width: 60%;
    height: 80%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

h1{
    padding: 2rem 0;
    font-size: 50px;
}
.ban p{
    padding-bottom: 1rem;
    margin:0 4rem;
    font-size: large;
}

.ban button{
    padding: 1rem 1.5rem;
    margin-left: 1rem;
    border-radius:50px;
    border:none;
}

.ban button:last-child{
    color: white;
    background-color: black;
}
/* #endregion banner */
.cont-block{
    justify-content: center;
    width:75%;
    /* height:80%; */
    margin: 5px auto;
}
.image{
    height:80%;
    width:70%;
    /* background-color: var(--block1); */
}

.description{
    height: 80%;
    width:30%;
    /* background-color: var(--block2); */
    padding: 1rem 1.8rem;
    font-size: 1.4rem;
}
.description p{
    padding-top: 10px;
    font-size: small;
}

.bg-grey{
    background-color: var(--bgsection2);
}

.sec-to-last{
    /* background-color: var(--block3); */
    width: 75%;
    height: 100%;
    text-align: center;
}
.sec-to-last h2{
    font-size: 2rem;
}
#adventure{
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: 125px -10px;
    padding-top: 30px;
}

.cont-block button:last-child{
    background-color: var(--registratibtn);
    padding: 10px 15px;
    margin-left: 1rem;
    border-radius:30px;
    border:none;
    color:white;
    font-size: large;
 }
/* #endregion sections */

/* #region footer */
h3{
    font-size: 2rem;
    padding:1rem;
}
h3,h4{
    color: var(--h3text);
}
.bg-black{
    background-color: var(--bgsection3);
}
.block-orange{
    height: 100%;
    width: 28%;
    /* background-color: var(--block4); */
}
.block-orange span{
    color: white;
}
#italia{
    width:40px;
    padding-left: 1rem;
}
.icon{
    padding: 1rem;
}
.fa-brands{
    padding: 0.5rem 0.75rem 0 0;
    color: white;
}


.block-green{
    height: 100%;
    width: 18%;
    /* background-color: var(--block5); */
}
ul{
    list-style: none;
}
li{
    padding:8px 0;
    color: var(--licolor);
}
hr{
    width:75%;
    margin: auto;
    color: var(--h3text);
}
.bg-foot{
    background-color: var(--footer);
}
.jc-betw{
    justify-content: space-between;
}
 .bg-foot-btn{
    background-color: var(--bgfooterbtn);
 }

 .discord-logo{
    width:120px;
 }
 
 #registrati{
    background-color: var(--registratibtn);
    padding: 2px 12px;
    margin-left: 1rem;
    border-radius:30px;
    border:none;
    color:white;
    font-size: large;
 }

/* #endregion footer */